.ui.secondary.pointing.menu .active.item {
    border-color: #32CD32;
    font-size: larger;
    color: black;
}

.ui.secondary.pointing.menu .active.item:hover {
    border-color: #32CD32;
}

.ui.secondary.pointing.menu .item {
    border-bottom-width: 5px;
}

.ui.secondary.pointing.menu {
    height: 90px;
    margin-bottom: 8px;
}

.item {
    font-size: larger;
}

.ui.item {
    margin-top: 30px;
}

