.button-success{
    top: 121px;
    left: 350px;
    background-color: #32CD32;
    border: none;
    border-radius: 10px;
    width: 241px;
    height: 55px;
    font-weight: 700;
    color: white;
}

.button-danger {
    top: 121px;
    left: 350px;
    background-color: rgb(236, 119, 119);
    border: none;
    border-radius: 15px;
    width: 241px;
    height: 55px;
    font-weight: 700;
    color: white;
    display: none;
}